<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title> View All Dealer</title>
	</head>
	
	<h2><i> Daftar Dealer:</i> </h2>
		<div th:each="dealer : ${listDealer}">
			<h2 th:text="'Dealer '+${dealer.id}"></h2> 
			<h2 th:text="${dealer.alamat}"></h2> 
			<h2 th:text="${dealer.noTelp}"></h2> 
			<td> <a th:href="@{/dealer/update/}+${dealer.id}"> Update Dealer </a> </td>
			</br>
			<td> <a th:href="@{/dealer/delete/}+${dealer.id}"> Hapus DEALERRRRRR </a> </td>
			<h2>Daftar Mobil: </h2>		
				<div th:each="car : ${dealer.listCar}">
				<h2 th:text="${car.brand}"></h2> 
				<h3 th:text="${car.id}"></h3>
				<h3 th:text="${car.type}"></h3>
				<h3 th:text="${car.price}"></h3>
				<h3 th:text="${car.amount}"></h3>
				</div>
			
			<h1>-------------------</h1>
		</div>
		
	
</html>